@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color: #7F948B;
    --secondary-color: #798592;
    --accent1-color: #7F82A2;
    --accent2-color: #8B8DAA;

    --heading-font: 'Poppins', sans-serif;
    --paragraph-font: 'Raleway', serif;

    --nav-background-color: #798592;
    --nav-link-color: #8B8DAA;
    --nav-hover-link-color: #4d0762;
    --nav-hover-background-color: #1e0226;
}

/* Global Styles */
body {
    font-family: var(--paragraph-font);
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}

/* Header Styles */
.header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 20px;
    background-color: var(--accent1-color);
    color: white;
    text-align: center;
}

.header img {
    width: 60%;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav a {
    color: white;
    margin: 0 1em;
    text-decoration: none;
}

/* Call to Action Section Styles */
.call-to-action {
    background-color: #f4f4f4;
    padding: 2rem;
    text-align: center;
}

.call-to-action .cta-button {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 1rem;
}

/* Trip Descriptions Section Styles */
.trip-descriptions {
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-around;
}

.trip-descriptions h2 {
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
}

.trip {
    flex: 1 1 calc(33% - 2rem);
    background-color: #f9f9f9;
    padding: 1rem;
    border-radius: 5px;
    text-align: center;
}

.trip img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.trip h3 {
    color: var(--primary-color);
    margin-top: 1rem;
}

/* Trip Table Section Styles */
.trip-table {
    padding: 2rem;
}

.trip-table h2 {
    text-align: center;
    margin-bottom: 2rem;
}

.trip-table table {
    width: 100%;
    border-collapse: collapse;
}

.trip-table th, .trip-table td {
    border: 1px solid #ddd;
    padding: 0.5rem;
    text-align: left;
}

.trip-table th {
    background-color: #f4f4f4;
}

/* Footer Styles */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
    display: grid;
    align-items: center;
    justify-content: center;
    width: 100%;
    grid-template-columns: 2fr 1fr;
    margin-top: 1%;
}

footer .sociallinks {
    display: flex;
    justify-content: flex-start;
    width: 10%;
}

footer .sociallinks a {
    margin-left: 10px;
}

footer .sociallinks a img {
    width: 25px;
    height: auto;
}

footer .sociallinks img {
    width: 30px;
    margin: 0 0.5em;
}
